{
    "semi": true,               // Добавлять точку с запятой в конце каждой строки
    "singleQuote": true,        // Использовать одинарные кавычки вместо двойных
    "tabWidth": 2,              // Ширина отступа, равная 2 пробелам
    "useTabs": false,           // Использовать пробелы вместо табуляции
    "trailingComma": "es5",     // Добавлять запятую после последнего элемента в ES5 (объекты, массивы)
    "bracketSpacing": true      // Добавлять пробелы внутри фигурных скобок
}
